<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-xs-12 col-sm-push-4 alerts-panel collapsed" data-toggle="collapse" data-target="#notification">
			<div class="pull-left"><i class="fa fa-warning white-color"></i>&nbsp&nbsp You have got <span class="white-color">1 new alert</span></div>
			<div class="pull-right">
				<i class="fa fa-microphone white-color"></i>
			</div>
			<div id="notification" class="collapse notification-panel">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12">
							<h4 class="white-color">Notification and alert center</h4>
						</div>
					</div>
					<div class="row notification-scroll">
						<div class="col-xs-12">
							<div class="panel panel-default">
							  <div class="panel-body">
								<div class="title">
									<div class="media">
									  <div class="media-left">
										  <i class="fa fa-warning"></i>
									  </div>
									  <div class="media-body">
										<div class="media-heading title-text white-color">Dishwasher needs your attention</div>
										<div class="desc">Description</div>
										<button class="btn btn-primary">OK</button>
										<button class="btn btn-danger">Cancel</button>
									  </div>
									</div>
								</div>
							  </div>
							</div>
						</div>
						<div class="col-xs-12">
							<h5>Past Notifications</h5>
							<div class="past-notification">
								<div class="white-color">Your dinner is ready</div>
								<div>5:30PM 17 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">Coffee is ready</div>
								<div>5:30AM 17 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div><div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
							<div class="past-notification">
								<div class="white-color">New visitor at door</div>
								<div>7:30PM 16 May 2015</div>
							</div>
						</div>
					</div>
					<div class="row text-center notification-bars">
						<i class="fa fa-bars"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12 col-sm-pull-8 daytime">
			<span class="time">3:30AM</span><span class="day">13 May 2015</span>
		</div>
	</div>
</div>
