<div class="col-xs-12 navbar-inverse">
	<div class="row">
		<a href="#/view1" class="col-xs-3 text-center tab-item" ng-class="{'active':vm.activeItem == 0}" ng-click="vm.activeItem = 0"><i class="icon icon-speedometer"></i><br>Dashboard</a>
		<a href="#/view2" class="col-xs-3 text-center tab-item" ng-class="{'active':vm.activeItem == 1}" ng-click="vm.activeItem = 1"><i class="icon icon-air-conditioner"></i><br>AC</a>
		<a href="#/view2" class="col-xs-3 text-center tab-item" ng-class="{'active':vm.activeItem == 2}" ng-click="vm.activeItem = 2"><i class="icon icon-light-bulb-1"></i><br>Lights</a>
		<a href="#/view2" class="col-xs-3 text-center tab-item" ng-class="{'active':vm.activeItem == 3}" ng-click="vm.activeItem = 3"><i class="icon icon-shield"></i><br>Security</a>
	</div>
</div>