<div class="container-fluid">
	<div class="row appliance-panel theme-bg-color">
		<div class="col-sm-7 appliance-update">
			<div class="offset-top-30">
				<div class="appliance-title"></div>
				<h4>Temprature Inside Now</h4>
				<a class="pull-right add"><i class="fa fa-plus"></i></a>
			</div>
			<div class="offset-top-30 appliance-panel-content">
				<div class="scroll-item">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-3 equ-height">
								<i class="appliance-icon icon-air-conditioner"></i>
							</div>
							<div class="col-xs-6 equ-height">
								<span class="appliance-data"><span class="white-color">21</span><sup>o</sup>C</span>
							</div>
							<div class="col-xs-3 equ-height">
								<i class="appliance-icon fa fa-cog theme-color"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="scroll-item">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-3 equ-height">
								<i class="appliance-icon icon-air-conditioner"></i>
							</div>
							<div class="col-xs-6 equ-height">
								<span class="appliance-data"><span class="white-color">21</span><sup>o</sup>C</span>
							</div>
							<div class="col-xs-3 equ-height">
								<i class="appliance-icon fa fa-cog theme-color"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-5 appliance-update">
			<div class="offset-top-30">
				<div class="appliance-title"></div>
				<h4>Next Scheduled Event</h4>
				<a class="pull-right add"><i class="fa fa-plus"></i></a>
			</div>
			<div class="offset-top-40 offset-sm-top-10 offset-sm-bottom-20 home-calender">
				<div class="reminder-day">Today</div>
				<div class="reminder-time"><span class="white-color">7:30</span><span>PM</span></div>
				<div class="reminder-desc white-color">Full System Check</div>
			</div>
		</div>
	</div>
	<div class="row people-panel offset-top-30 offset-bottom-30 offset-sm-top-0">
		<div>
			<div class="media disabled">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object" src="common/icons/profile1.png" height="80px">
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Karthick S P</h4>
				<h4 class="theme-color">OUT</h4>
				<strong class="light-color text-bold">For 1h 13min</strong>
			  </div>
			</div>
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object" src="common/icons/profile1.png" height="80px">
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Karthick S P</h4>
				<h4 class="theme-color">IN</h4>
				<strong class="light-color text-bold">For 1h 13min</strong>
			  </div>
			</div>
			<div class="media">
			  <div class="media-left">
				<a href="#">
				  <img class="media-object" src="common/icons/profile1.png" height="80px">
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Karthick S P</h4>
				<h4 class="theme-color">IN</h4>
				<strong class="light-color text-bold">For 1h 13min</strong>
			  </div>
			</div>
		</div>
	</div>
</div>